<nav>
    <div class='site title'>
        <a href="/"><h1>CINAZA</h1></a>
        <p> A CSE PROJECT</p>
    </div>

<ul>
    <p></p>
    <li><a href="/">Home</a></li>
    <li><a href="/home/login">Login</a></li>
    <li><a href="/home/signup">Singup</a></li>
</ul>
</nav>