<html>
<%- include('./partials/head.ejs')    %>

 <body>
    <%- include('./partials/nav.ejs')    %>
    <h2><%=query%></h2>

</body> 

<form  action="/addFriend" method="GET">
    <button>addFriends</button>

</form>


<%- include('./partials/footer.ejs')    %>
</html>